# ---- Ajuste de linguagens no GitHub ----
# Força todos os arquivos .py a serem contabilizados como Python
*.py linguist-language=Python

# Ignora arquivos LaTeX/TeX para não aparecer na barra de linguagens
*.tex linguist-detectable=false
*.cls linguist-detectable=false
*.sty linguist-detectable=false
*.bib linguist-detectable=false
