# 🐍 Prioriza arquivos Python
*.py linguist-detectable=true

# ❌ Ignora arquivos que não devem contar na análise
*.md linguist-detectable=false
*.csv linguist-detectable=false
*.html linguist-detectable=false
*.tex linguist-detectable=false
*.spec linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.log linguist-detectable=false
*.txt linguist-detectable=false

# 📁 Ignora pastas auxiliares
.github/* linguist-generated
build/* linguist-generated
dist/* linguist-generated
docs/* linguist-documentation
